.fixed.inset-0.flex.items-center.justify-center.z-50.bg-black.bg-opacity-50
  .modal-wrapper.bg-white.p-20.rounded-md
    h1.text-gray-800.font-semibold.text-xl.mb-4.text-center Employment Data
    = render 'employments/employment_form', employment: Employment.new, personal_data_id: personal_data_id
